<div class="container">
<h4 class = "pt-3">職務経歴編集</h4>

<%= form_with model: @work_experience,url: work_experience_path(@work_experience), method: :patch do |f| %>

<table class = "table table-borderless">
<tr>
<td><%= f.label :company_name, "勤務先名" %></td>
<td><%= f.text_area :company_name, size: "40x1" %></td>
</tr>
<tr>
<td><%= f.label :industory_type, "業種" %></td>
<td><%= f.select :industory_type, WorkExperience.industory_types.keys.map {|k| [I18n.t("enums.work_experience.industory_type.#{k}"), k]} %></td>
</tr>
<tr>
<td><%= f.label :joined_date, "入社年月" %></td>
<td><%= f.month_field :joined_date %></td>
</tr>
<tr>
<td><%= f.label :position, "職務" %></td>
<td><%= f.select :position, WorkExperience.positions.keys.map {|k| [I18n.t("enums.work_experience.position.#{k}"), k]} %></td>
</tr>
<tr>
<td><%= f.label :career_history, "職務内容の詳細" %></td>
<td><%= f.text_area :career_history ,size: "40x3"%></td>
</tr>”
</table>

<div class= "pt-3 text-right">
  <%= f.submit "更新する",class:"btn btn-primary" %>
</div>
<% end %>
</div>