<div class="container">
<h4 class = "pt-3">プロフィール編集</h4>

<%= form_with model: @profile, url: profile_path(@profile), method: :patch do |f| %>
<table class = "table table-borderless">
<tr>
  <td><%= f.label :birthday, "生年月日" %></td>
  <td><%= f.date_field :birthday %></td>
</tr>
<tr>
  <td><%= f.label :education, "最終学歴" %></td>
  <td><%= f.text_field :education %></td>
</tr>
<tr>
  <td><%= f.label :introduction, "自己紹介" %></td>
  <td><%= f.text_area :introduction %></td>
</tr>
<tr>
  <td><%= f.label :skill, "特技・スキル" %></td>
  <td><%= f.text_area :skill %></td>
</tr>

<!--  <#% Certification.all.each do |certification| %>-->
<!--    <%#= f.label :certification_name, certification.name %>-->
<!--    <%# if @profile.certifications.ids.include?(certification.id) %>-->
<!--      <input type="checkbox" value="<%#= certification.id %>" name="profile[certification_ids][]" id="profile_certification_id" checked>-->
<!--    <%# else %>-->
<!--      <input type="checkbox" value="<%#= certification.id %>" name="profile[certification_ids][]" id="profile_certification_id">-->
<!--  <%# end %>-->
<!--<%# end %>-->

<tr>
<td><%= f.label :other_certification, "資格" %></td>
<td><%= f.text_area :other_certification %></td>
</tr>
<tr>
<td><%= f.label :additional_information, "その他（就業条件など）" %></td>
<td><%= f.text_area :additional_information %></td>
</tr>
<tr>
<td><%= f.label :image, "プロフィール画像" %></td>
<td><%= f.file_field :image, accept: "image/*" %></td>
</tr>
</table>
<div class = "text-right pd-3">
<%= f.submit "保存する", class:"btn btn-success" %>
</div>
<% end %>

<div class = "pt-3">
<%= link_to "職務経歴を登録する", work_experience_path(@user) ,class: 'btn btn-primary' %>
</div>

</div>