<div class = "container">
<h4 class = "text-center">登録ユーザープロフィール一覧</h4>

<table class = "table pt-5">
<tr>
  <th></th>
  <th>名前</th>
  <th>自己紹介</th>
  <th>更新日時</th>
</tr>
<tr>
<% @profiles.each do |profile| %>
<% if profile.is_active == true && profile.user.is_deleted == false %>
<td>
<% if profile.image.attached? %>
<%= image_tag profile.image,size:"50,50", class:"offset-md-1 top-img" %>
<% else %>
<%= image_tag 'noimage.png', size: "50x50", class:"offset-md-1 top-img" %>
<% end %>
</td>
<td><%= link_to profile.user.identification, profile_path(profile) %></td>
<td><%= profile.introduction %></td>
<td><%= profile.updated_at&.strftime('%Y-%m-%d %H:%M') %></td>
</tr>
<% end %>
<% end %>
</table>

</div>