<div class ="container">

<h4 class = "pt-3">プロフィール登録</h4>

<%= form_with model: @profile do |f| %>
<table class = "table table-borderless">
  
<tr>
<td><%= f.label :birthday, "生年月日" %></td>
<td><%= f.date_field :birthday %></td>
</tr>

<tr>
<td><%= f.label :education, "最終学歴" %></td>
<td><%= f.text_field :education,size: "50x10" %></td>
</tr>
<tr>
<td><%= f.label :introduction, "自己紹介" %></td>
<td><%= f.text_area :introduction,size: "80X20" %></td>
</tr>
<tr>
<td><%= f.label :skill, "特技・スキル" %></td>
<td><%= f.text_area :skill,size: "80X20" %></td>
</tr>
<tr>
<td><%= f.label :other_certification, "資格" %></td>
<td><%= f.text_area :other_certification,size: "80X20" %></td>
</tr>
<tr>
<td><%= f.label :additional_information, "その他（就業条件など）" %></td>
<td><%= f.text_area :additional_information,size: "80X20" %></td>
</tr>
<tr>
<td><%= f.label :image, "プロフィール画像" %></td>
<td><%= f.file_field :image, accept: "image/*" %></td>
</tr>
</table>

<%= f.submit "登録する" ,class:'btn btn-success' %><br>

<% end %>

</div>

<%# Certification.all.each do |certification| %>
<%#= f.label :certification_name, certification.name %>
<!--<input type="checkbox" value="<%#= certification.id %>" name="profile[certification_ids][]" id="profile_certification_id">-->
<%# end %>
<!--<br>-->


<%#= f.label :certification, "資格" %>
<%#= f.check_box :certification %>
<%#= f.collection_check_boxes :certification_ids,  Certification.all, :id, :name %>

