<h2><%= @user.identification %>さんのプロフィール</h2>

<h2>プロフィール</h2>

<h2>職歴</h2>

<h2>メッセージを送る</h2>
<% if @user.id != current_user.id %>
  <% if @isRoom == true %>
   <%= link_to "メッセージへ",room_path %>
   <!--上記のコメントが表示されない　ifが上手く機能していない？-->
  <% else %>
   <%= form_with model: @room do |f| %>
     <%= fields_for @entry do |entry| %>
      <%= f.hidden_field :user_id, value: @user.id %>
     <% end %>
      <%= f.submit "初めてメッセージを送る" %>
     <!--rooms/showに転送したいのにrooms/indexに転送される　どこで転送設定されているのかがわからない-->
   <% end %>
  <% end %>
<% end %>

<!--follow_byのメソッドが認識されていない undefined method `follow_by?' f-->
<% if @profile.follow_by?(current_user) %>
 <p><%= link_to profile_follows_path(@profile), method: :delete do %>フォローをやめる
 <% end %></p>
<% else %>
 <p><%= link_to profile_follows_path(@profile), method: :post do %>フォローする
 <% end %></p>
<% end %>


<!--https://note.com/ya_jp/n/nf61a9cdd27a8 roomsコントローラーから-->
<!--参考その２https://qiita.com/bindingpry/items/6790c91f374acc25bea2-->

<div>
 <%= form_with model:[@profile, @comment] do |f| %>
  <%= f.text_area :text, rows: '5',placeholder: "ご質問やコメントはこちらから" %>
  <%= f.submit "送信する" %>
 <% end %>
</div>
<div>
 <p>件数：<%= @profile.comments.count %></p>
 <% @profile.comments.each do |comment| %>
  <%= comment.user.identification %>
  <%= comment.created_at.strftime('%Y/%m/%d') %>
  <%= comment.text %>
  <% if comment.user == current_user %>
   <%= link_to "削除", profile_comment_path(comment), method: :delete %>
  <% end %>
 <% end %>
 </div>



