<div class = "container">

<h4>登録情報編集</h4>

<%= form_with model:@user,url: user_path(@user), method: :patch do |f| %>
<table class = "table">
<tr>
    <td><%= f.label :"お名前" %></td>
    <td> <%= f.text_field :name, autocomplete: "name" %></td>
  </tr>
  <tr>
    <td><%= f.label :"サイト内で表示するお名前（ID)" %></td>
    <td><%= f.text_field :identification, autocomplete: "identification" %></td>
  </tr>
  <tr>
    <td><%= f.label :"メールアドレス" %></td>
    <td> <%= f.email_field :email, autofocus: true, autocomplete: "email",:size=>"60x10" %></td>
  </tr>
  <tr>
    <td><%= f.label :"電話番号" %></td>
    <td><%= f.phone_field :phone, autocomplete: "phone" %></td>
  </tr>
  <tr>
    <td><%= f.label :"郵便番号" %></td>
    <td><%= f.text_field :postal_code, autocomplete: "postal_code" %></td>
  </tr>
  <tr>
    <td><%= f.label :"都道府県" %></td>
    <td><%= f.text_field :prefecture, autocomplete: "prefecture" %></td>
  </tr>
  <tr>
    <td><%= f.label :"市町村" %></td>
    <td><%= f.text_field :city, autocomplete: "city",:size=>"60x10" %></td>
  </tr>
  <tr>
    <td><%= f.label :"町名・番地・号・部屋番号" %></td>
    <td><%= f.text_field :town, autocomplete: "town",:size=>"60x10" %></td>
  </tr>
  
  </table>

  <div class="pl-3">
    <%= f.submit "更新",class:"btn btn-success" %>
  </div>
<% end %>

</div>
